nav{
    width: 100%;
    /* background-color: grey; */
    padding: 10px;
    border-bottom: 1px solid rgb(96, 183, 218);;
}

.navbar
{
    max-width: 1100px;
    width: 100%;
    /* background-color: aqua; */
    margin: auto;
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#logo
{
    font-size: 20px;
    font-weight: 400;
    color:rgb(96, 183, 218);;
}
li
{
    display: inline-block;
   padding: 8px;
    cursor: pointer;

}

#login
{
    padding: 8px 20px;
    border: 2px solid rgb(96, 183, 218);
    margin: 0px 15px;
    margin-left: 30px;
    
}
.btn
{
    padding: 10px 20px;
    border: none;
    background-color: rgb(96, 183, 218);
    /* margin: 0px 10px; */
    color: #fff;
}

button
{
    border-radius: 10px;
    cursor: pointer;
}

li:hover{
    color: rgb(92, 92, 196);
}

.icn
{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 1.5rem;
    color: rgb(96, 183, 218);
    transform: translateY(-50%);
    cursor: pointer;
    display: none;

}

.sidelist
{
    height: 400px;
    position: absolute;
    width: 280px;
    background-color:rgb(96, 183, 218);
    top: 50px;
    left: -100%;
    transition: 0.5s all ease-in-out;
}

@media (max-width:1000px) {
    li
   {
    text-align: center;
   }
   #logo
   {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
   }
  
}


@media (max-width:650px) {
     li
    {
        display: none;
    }
    .navbar button
    {
        display: none;
    }
    .icn
    {
        display: block;
    }

    .sidelist-open
    {
        height: 400px;
        position: absolute;
        width: 280px;
        background-color:rgb(96, 183, 218);
        top: 50px;
        left: -5%;
        transition: 0.5s all ease-in-out;
        z-index: 1111;
    }

    .sidelist-open li
    {
        display: block;
        margin: 10px;
    }
    .sidelist-open button
    {
        display: block;
        margin: auto;
        cursor: pointer;
    }
   
}